@charset "utf-8";
/* CSS Document */

.main_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}
main li {
	margin-bottom: 40px;
	position: relative;
}
main li p {
	padding-top: 40px;
	padding-bottom: 40px;
}
.flame_top {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
}
.flame_bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0;
}
.btn {
	width: 820px;
	height: 115px;
	background-color: #b39d45;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 36px;
	line-height: 115px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	text-shadow: 1px 1px 5px #000;
	transition: .3s;
}
.btn:hover {
	box-shadow: 3px 3px 10px rgba(0,0,0,.5);
	transform: translateY(5px);
}
.btn a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}
 @media screen and (max-width:640px) {
.main_items {
	flex-direction: column;
}
img {
	width: 100%;
}

main li .order_text{
	padding: 0;
	height:3rem;
	line-height:3rem;
}
.btn {
	height: 50px;
	line-height: 50px;
	font-size: 1rem;
	width: 100%;
}
main .disc {
	padding-right: 10px;
	padding-left: 10px;
	text-indent: 1rem;
}
main .disc p {
	padding-bottom: 10px;
	text-align: left;
}


}
